In [1]:
import mysql.connector
from mysql.connector import errorcode

config = {
    'user': 'root',
    'password': '1qz2MxCid',
    'host': 'localhost'
}

# Connect to MySQL
try:
    conn = mysql.connector.connect(**config)
    cursor = conn.cursor()
    print('Connect MySQL Sever succesfully')
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print('Connect error, please check username/password')
    else:
        print(err)

Connect MySQL Sever succesfully

In [3]:
#Create new DB
try:
    cursor.execute("CREATE DATABASE library_db")
    print("Create Db succesfully")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_DB_CREATE_EXISTS:
        print('DB existing')
    else:
        print(err)

DB existing

In [9]:
config['database'] = 'library_db'
try:
    conn.database = config['database']
    print("Connect DB successfully")
except mysql.connector.Error as err:
    print("Can not connect DB")
    print(err)

sqlBook = (
    "CREATE TABLE Books ("
    " book_id INT AUTO_INCREMENT PRIMARY KEY, "
    " title VARCHAR (255) NOT NULL,"
    " author VARCHAR(255),"
    " published_date DATE"
    ")")

try:
    cursor.execute(sqlBook)
    print(f"Create Book tbale successfully")
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
        print(f"Book table existing")
    else:
        print(err)

Connect DB successfully
Create Book tbale successfully

In [7]:
drop_table_query = "DROP TABLE IF EXISTS Books;"

try:
    cursor.execute(drop_table_query)
    print("Delete table successfully")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Delete table successfully

In [10]:
sqlInsertBook1 = ("INSERT INTO Books "
            "(title, author, published_date) "
            "VALUES ('Programming Python', 'Raymond', '2023-01-01')")
#Excute Insert
try:
    cursor.execute(sqlInsertBook1)
    conn.commit()
    print("Insert Data successfully")
except mysql.connector.Error as err:
    print(f"Erorr: {err}")
    conn.rollback

Insert Data successfully

In [11]:
sql_add_book = ("INSERT INTO Books "
            "(title, author , published_date) "
            "VALUES (%s, %s, %s)")
book_data = [
    ('Learning Python', 'Mark Lutz', '2019-06-10'),
    ('Python Crash Course', 'Eric Matthes', '2022-05-12'),
    ('Effective Modern C++', 'Scott Meyers', '2023-12-14'),
    ('The C++ Programming Language', 'Bjarne Stroustrup', '2016-05-20')
]

#Exucte insert many records
try:
    cursor.executemany(sql_add_book, book_data)
    conn.commit()
    print("Insert records successfully")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    conn.rollback

Insert records successfully

In [12]:
select_query = "SELECT * FROM Books"

#Excute Select
try:
    cursor.execute(select_query)
    results = cursor.fetchall()
    for row in results:
        print(f"ID: {row[0]}, Author:{row[1]}, Ttile:{row[2]}, Published date:{row[3]}")
except mysql.connector.Error as err:
    print(f"Error: {err}")

ID: 1, Author:Programming Python, Ttile:Raymond, Published date:2023-01-01
ID: 2, Author:Learning Python, Ttile:Mark Lutz, Published date:2019-06-10
ID: 3, Author:Python Crash Course, Ttile:Eric Matthes, Published date:2022-05-12
ID: 4, Author:Effective Modern C++, Ttile:Scott Meyers, Published date:2023-12-14
ID: 5, Author:The C++ Programming Language, Ttile:Bjarne Stroustrup, Published date:2016-05-20

In [13]:
#Exucte UPDATE
sql_book_update = ("UPDATE Books "
                "SET title = %s "
                "WHERE book_id = %s")

update_data = ('Advanced Python', 1)
try:
    cursor.execute(sql_book_update, update_data)
    conn.commit()
    print("Update data successfully")
except mysql.connector.Error as err:
    print(f"Error: {err}")
    conn.rollback()

Update data successfully